.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 30px;
    font-weight: bold;
}

.overlay1 {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background: rgba(0, 0, 0, 0.5);
    width: 30%;
    color: red;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: red;
    border-radius: 30px;
    font-weight: bold;
}

.overlay1 img {
    max-width: 50%;
    position: relative;
  }
