body{
    background-color: beige;
}
#box1{
    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;
    position:relative;
}

#text1 {
    left: 120%;
    top: 250px;
    position: relative;
}

#box2{
    width: 40vw;
    height: 33vh;
    border-style: solid;
    border-radius:3px;
    border-color:purple;
    position:relative;
    left: 40vw;
    background-color: mediumvioletred;
    position: fixed;
    bottom: 0;
    left: 0;
}

#text2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

#box3{
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(0, -50);
    width: 40vw;
    height: 33vh;
    border-radius: 10px;
    background-color: orangered;
}

#text3 {
    position: sticky;
    top: 0;
}
