    .container {
        width: 70%;
        margin: auto;
        text-align: center;
    }
  
    .dice {
        text-align: center;
        display: inline-block;
        margin: 10px;
    }
  
    body {
        background-color: #e74c3c;
        margin: 0;
    }
  
    h1 {
        margin: 30px;
        font-family: "Lobster", cursive;
        text-shadow: 5px 0 #e74c3c;
        font-size: 4rem;
        color: pink;
        text-align: center;
    }
  
    p {
        font-size: 2rem;
        color: #e74c3c;
        font-family: "Indie Flower", cursive;
    }
  
    img {
        width: 100%;
    }
  
    .bottom {
        padding-top: 30px;
    }
  
    .butn {
        background: pink;
        font-family: "Indie Flower", cursive;
        border-radius: 7px;
        color: #ffff;
        font-size: 30px;
        padding: 16px 25px 16px 25px;
        text-decoration: none;
    }
  
    .butn:hover {
        background: #232931;
        text-decoration: none;
    }

    body {
        background: linear-gradient(to bottom right, #f9bc31, #ed1e79);
        font-family: 'Roboto', sans-serif;
      }
      
      h1 {
        font-size: 8rem;
        font-weight: bold;
        background: linear-gradient(to right, #ff5e3a, #ff2a68, #8a00e1);
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        animation: neon 2s ease-in-out infinite;
      }
      
      @keyframes neon {
        0% {
          text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
        }
        50% {
          text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
        }
        100% {
          text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
        }
      }
      
      button:hover {
        background-color: #e74c3c;
      }
